.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 5rem;
    margin: 0 0 1rem 0;
}

.description {
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 2rem 0;
    text-align: center;
}
