* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f5f7fb;
    color: #293264;
    font-family: "Karla", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.main-btn {
    font-size: 1.2rem;
    font-family: "Karla", sans-serif;

    width: 200px;
    height: 52px;
    background-color: #4d5b9e;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

.results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.results-text {
    font-size: 1.5rem;
    padding: 0 1rem 0 1rem;
}

.blob-top {
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    z-index: -1;
}

.blob-bottom {
    position: fixed;
    bottom: 0;
    width: 18vw;
    z-index: -1;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 1rem;
    padding: 0 1rem 0 1rem;
}

.footer-leo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.linkedin-link {
    text-decoration: none;
    color: #293264;
    font-size: 1.2rem;
}

@media only screen and (max-width: 500px) {
    .results-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        margin-top: 1rem;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 1rem;
        padding: 0 1rem 0 1rem;
    }

    .main-btn {
        margin-right: 1rem;
    }
}
